<html>
    <head>
        <title>Django Test Blog</title>
    </head>
    <body>
        <div>
            <h1><a href='/'>Django Test Blog</a></h1>
        </div>
        <div>
            <!--templatetag
            For loop
            -->
            {% for post in posts %}
            <div>
                <p>Published: {{ post.published_date }}</p>
                <h2><a href=""> {{ post.title }} </a></h2>
                <p> {{ post.text|linebreaksbr }} </p>
            </div>
            {% endfor %}

        </div>
    </body>
</html>